<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'xeditable', :plugin => 'scrum2b' %>
  <%= stylesheet_link_tag 'version', :plugin => 'scrum2b' %>
  <%= stylesheet_link_tag 'application', :plugin => 'scrum2b' %>
  <%= javascript_include_tag "application", :plugin => 'scrum2b' %>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
  <%= javascript_include_tag "jquery-ui", :plugin => 'scrum2b' %>
  <%= javascript_include_tag "xeditable", :plugin => 'scrum2b' %>
<% end %>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<%= render :partial => "s2b_issues/angular_service" %>
<%= render :partial => "s2b_issues/angular_issue" %>
<%= render :partial => "s2b_issues/angular_comment" %>
<%= render :partial => "s2b_issues/angular_file" %>
<%= render :partial => "s2b_issues/angular" %>

<div ng-app="scrum2b" class="s2b-content" >
  <div class="content basic_mode" ng-controller="BoardsCtrl" >

    <!-- Top filters -->
    <%= render :partial => "s2b_issues/filters" %>
        
    <!-- Backlog -->
    <%= render :partial => "s2b_issues/backlog_column" %>
    <!--begin 4 sprint-->
    <div id="accordion" class="sprint_total">
      <%= render :partial => "s2b_issues/sprint" %>
    </div><!--accordion-->
  </div><!--end content-->
</div>

<!-- jquery -->
<%= render :partial => "s2b_issues/jquery" %>